.App {
  background-color: #282c34;
  color: #ffcb52;
  text-align: center;
  vertical-align: middle;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  cursor: default;
}

.AppBg {
  background-image: url('Cardano-RGB_Logo-Icon-FFCB52.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.MusicPlaylist {
  width: 100%;
  height: 100%;
}

.MusicPlaylistBg {
  background-image: url('Cardano-RGB_Logo-Icon-FFCB52.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.SongTitle {
  text-align: left;
  font-weight: bold;
}

.SongArtists {
  text-align: left;
}

.SearchBox {
  width: 100%;
  font-size: calc(7.5px + 1.5vmin);
  text-indent: 7.5px;
  background-color: #f1cc52;
  outline-width: 0;
  border-left: 0;
}

.BoxShadow {
  box-shadow: #f1cc527f 0px 2px 5px 0px;
}

.Status {
  font-size: calc(4px + 1vmin);
}

.Error {
  font-size: calc(4px + 1vmin);
  text-align: left;
  color: #282c34;
  background-color: #ffcc52;
  box-shadow: #ffcc527f 0px 2px 5px 0px;
  padding-left: 10px;
  padding-right: 10px;
}

button {
  color: #282c34;
  background-color: #ffcc52;
  border-color: #ffcc52;
  box-shadow: #ffcc527f 0px 2px 5px 0px;
  text-decoration: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: calc(7.5px + 1.5vmin);
  width: 100%;
}

button:hover {
  box-shadow: #ffcc52ff 0px 2px 5px 0px;
  text-decoration: underline;
}

button:active {
  box-shadow: #ffcc523f 0px 2px 5px 0px;
  text-decoration: none;
}
